{% extends 'base.html' %}
{% block content %}
	<div class="Cover">
		<div class="Photo">
			<img src="http://getwallpapers.com/wallpaper/full/1/d/6/75377.jpg" alt="cover" class="Home_Cover" id="top">
		</div>
		<div class="Sch-Title-Box">
			<b class="Sch-Title-Text">My Schedule</b>
		</div>
	</div>
	<div class="Sch-buttons">
		<button type="button" class="btn btn-success btn-lg" id="success2"><a href="{% url 'Schedule:AddSchedule' %}">Add Schedule</a></button>
		<button type="button" class="btn btn-danger btn-lg" id="danger2"><a href="{% url 'Schedule:deleteAll' %}">Delete All Schedule</a></button>
	</div>
	{% if schedule %}
	<div class="table-container">
		<div class="table-responsive-sm">
			<table class="table">
				<thead class="thead-dark">
					<tr>
			    	   	<th>Activity Name</th>
			       		<th>Day</th>
			       		<th>Date</th>
			        	<th>Time</th>
			        	<th>Place</th>
			        	<th>Category</th>
			      	</tr>
			    </thead>
			    <tbody>
			    	{% for data in schedule %}
			    	<tr>
				        <td>{{ data.name }}</td>
				        <td>{{ data.day }}</td>
				        <td>{{ data.date }}</td>
				        <td>{{ data.time }}</td>
				        <td>{{ data.place }}</td>
				        <td>{{ data.category }}</td>
				    </tr>
			    	{% endfor %}
			    </tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="No-Sch">
			<p>You have no schedule</p>
		</div>
	{% endif %}
{% endblock content %}