{% extends 'base.html' %}

{% block content %}
	<div class="Sch-Title-Box2">
		<p class="Sch-Title-Text2">Add Schedule</p>
	</div>
		<div class="Form">
			<div class="form-group">
				<form id="form" method="POST" action="{% url 'Schedule:saveSchedule' %}">
					{% csrf_token %}
		        	{{ form.as_p}}
					<button type="submit" class="btn btn-success btn-lg">Add Schedule</button>
				</form>
			</div>
		</div>
		<div class="clipart">
			<img src=https://openclipart.org/download/304826/1533580887.svg alt="photo" class="calendar">
		</div>
{% endblock content %}