{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="Cover">
		<div class="Photo">
			<img src="http://anime-bump.com/wallpapers_peyz/121/08.jpg" 
				alt="cover"	class="Home_Cover" id="top">
		</div>
		<div class="Faq-Title">
			<b class="Title-Text">Frequently Asked Question</b>
		</div>
	</div>
	<div class="Faq-Content">
		<div class="FAQS">
			<div class="FAQ">
				<div class="row">
					<div class="Q-Box">
						<div class="Q-Box-2">
							<b class="Q"> Q </b>
						</div>
					</div>
					<p class="Question"> What genre of music do you listen to the most? </p>
				</div>
				<div class="row">
					<div class="A-Box">
						<b class=A> A </b>
					</div>
					<p class="Answer"> Jazz is my favorit genre! </p>
				</div>
			</div>
			<div class="FAQ">
				<div class="row">
					<div class="Q-Box">
						<div class="Q-Box-2">
							<b class="Q"> Q </b>
						</div>
					</div>
					<p class="Question"> Do you have a boyfriend? </p>
				</div>
				<div class="row">
					<div class="A-Box">
						<b class=A> A </b>
					</div>
					<p class="Answer"> No i don't </p>
				</div>
			</div>
			<div class="FAQ">
				<div class="row">
					<div class="Q-Box">
						<div class="Q-Box-2">
							<b class="Q"> Q </b>
						</div>
					</div>
					<p class="Question"> Why did you choose Computer Science as your major? </p>
				</div>
				<div class="row">
					<div class="A-Box">
						<b class=A> A </b>
					</div>
					<p class="Answer"> I don't know :o </p>
				</div>
			</div>
			<div class="FAQ">
				<div class="row">
					<div class="Q-Box">
						<div class="Q-Box-2">
							<b class="Q"> Q </b>
						</div>
					</div>
					<p class="Question"> How many children do you want? </p>
				</div>
				<div class="row">
					<div class="A-Box">
						<b class=A> A </b>
					</div>
					<p class="Answer"> Two children is enough </p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}