/*NavBar*/
.navbar {
    background-color:#000000;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #FFFFFF !important;
}

.navbar-toggler-icon {
    width: 5vw;
    height: 5vw;
}

.navbar-toggler {
    font-size: 1.5vw;
}

.dropdown-menu {
    padding: 1%;
    margin: 1%;
    font-size: 1vw;
}

.dropdown-item {
    margin: 1%;
    padding: 1%;
    margin-left: 2%
    font-size: 1vw;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

li {
    margin-left: 3%;
    list-style-type: none;
    font-family:muli;
    font-size:1.5vw;
}

li a {
    display: block;
    text-decoration: none;
}

.btn-info {
    width: 8%;
    margin: 1%;
    margin-left: 2%!important;
    padding: 0.5%;
}

.btn-info a {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 1.2vw;
    font-family: muli;
    color: white;
    text-decoration: none;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*Cover Photo*/

.Profile {
    display: block;
    position: relative;
    width: 100%;
    height: 50vw;
    margin: 0 auto;
}

.photo {
    display: block;
    position: relative;
    overflow: hidden;
    height: 50%;
    z-index: 1;
}

.Home_Cover {
    width: 100%;
    height: 50vw;
    z-index: 1;
}

.Profile_Photo {
    display: block;
    position:relative;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    margin-top: -7%;
    margin-left: 35%;
    background-color: #2E8793;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: #FFFFFF;
    box-shadow: 0vw 1vw #C0C0C0;
    z-index: 999;
}

/*Main Page*/

.Biodata {
    z-index: 0;
    display: flex; 
    justify-content: 
    space-around;
    margin-bottom:5%;
}

.Biodata_Kiri {
    margin-left: 4%;
    width: 50%;
}

.Biodata_Kanan {
    margin-right: 4%;
    width: 50%;
    text-align:right;
}

.Profile_Key {
    font-family:muli;
    color:#2FB7AE;
    font-size:5vw;
    margin: 0;
    margin-top:3%;"
}

.Profile_Value {
     font-family:muli;
     color:#000000;
     font-size:2vw;
     margin:0;
}

.Biodata2 {
    background-color:black;
    height:28vw;
    text-align:center;
}

.Biodata2_Value {
    margin: 0;
    font-family:muli;
    color:#FFFFFF;
    font-size:2.5vw;
    padding-top:4%;
}

.material-icons.md-3 { 
    font-size: 3vw; 
}

.Education {
    background-color:#2E8793;
    height:54vw;
}

.Color-Box-Edu {
    background-color:#000000;
    width:45%;
    height:6%;
    float: right
}

.Edu-Title {
    font-family:muli;
    color:#000000;
    font-size:4vw;
    margin: 0;
    font-weight: bold;
    margin-left:3%;
}

.Edu-Value {
    margin-top:6%;
    margin-bottom: 0;
    font-family:muli;
    color:#000000;
    font-size:2.5vw;
}

.material-icons.md-5 { 
    font-size:5vw;
    color:white;
    margin-left:8%;
    margin-right:2%;
    vertical-align:middle;
}

.Interests {
    background-color:#FFFFFF;
    height:70vw;
}

.Color-Box-Int {
    background-color:#2E8793;
    width:71%;
    height:6%;
    float:left;
}

.Int-Title {
    font-family:muli;
    color:#2E8793;
    font-size:4vw;
    margin: 0;
    font-weight: bold;
    text-align: right;
    padding-right:5%;
}

.Int-Row {
    width:100%;
    height:30%;
    margin-top: 6%;
}

.Interest {
    float: left;
    width: 25%;
    height:100%
}

.Int-Icon {
    height:70%;
    width: 60%;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color:#5AB0BC;
    border-style: solid;
    border-width: 1vw;
    border-color: #FFFFFF;
    box-shadow: 0px 1vw 3vw #C0C0C0;
    margin-left: 20%;
    margin-top: 6%
}

.Int-Icon-Image {
    display: block;
    width: 70%;
    height: 70%;
    margin: 0;
    margin-left: 15%;
    margin-top:13%;

}

.Int-Value {
    display:block;
    color:black;
    color: #2E8793;
    font-family: muli;
    font-size: 2.5vw;
    margin-top:10%;
    text-align: center;
}

.Skills {
    background-color:#000000;
    height:48vw;
}

.Color-Box-Ski {
    background-color:#FFFFFF;
    width:78%;
    height:6%;
    float:right;
}

.Ski-Title {
    font-family:muli;
    color:#FFFFFF;
    font-weight: bold;
    margin: 0;
    font-size:4vw;
    padding-left:5%;
}

.row {
    height: 10%;
    margin: 0;
    margin-top: 3%;
}

.Ski-Value {
    display:inline-block;
    font-size:2.3vw;
    color:white;
    font-family: muli;
    width: 17%;
    margin: 0;
    margin-left:5%;
    margin-right: 2%;
}

.progress {
    overflow: hidden;
    margin: 0;
    height: 2vw;
    width: 70vw;
    background-color:#C4C4C4;
    display:inline-block;
}

.progress-bar {
    height: 100%;
    font-size: 1.5vw;
}

.Achievements {
    background-color:#2E8793;
    height:125vw;
}

.Top {
    height: 6%;
}

.Color-Box-Ach-L {
    background-color:#000000;
    width:30%;
    height:55%;
    float: left;
}

.Ach-Title {
    font-family:muli;
    color:#000000;
    font-size:4vw;
    margin: 0;
    font-weight: bold;
    padding-left:6%;
    float: left;
}

.Color-Box-Ach-R {
    background-color:#000000;
    width:30%;
    height:55%;
    float: right;
}

.Ach-Boxes {
    height: 94%;
}

.Ach-Box {
    height: 18%;
    width: 100%;
}

.Box{
    height:80%;
    width: 18%;
    display: block;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1vw;
    border-color: #000000;
    box-shadow: 0px 1vw 3vw #1e5961;
    margin-top: 2%;
}

#Box-R {
    float: right;
    margin-left: 5%;
    margin-right: 8%;
}

#Box-L {
    float: left;
    margin-left: 8%;
    margin-right: 5%;
}

.Ach-Explanation {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family:muli;
    color:#FFFFFF;
    font-size:3vw;
    margin-bottom: 0;
}

#Expl-R {
    text-align: right; 
    margin-left: 20%;   
}

#Expl-L {
    text-align: left; 
    margin-right: 20%;   
}

.Ach-Icon {
    display: block;
    width:90%;
    height:90%;
    margin: 0;
    margin-left: 3%;
    margin-top:5%;
}

.Experiences {
    background-color:#FFFFFF;
    height:80vw;
}

.Color-Box-Exp {
    background-color:#2E8793;
    width:65%;
    height:6%;
    float:left;
}

.Exp-Title {
    font-family:muli;
    color:#2E8793;
    font-size:4vw;
    margin: 0;
    font-weight: bold;
    text-align: right;
    padding-right:4.9%;
}

.Experience {
    padding-top:4%;
    font-size: 3vw;
}

.Exp-Value {
    font-family:muli;
    color:#000000;
    font-size:2.7vw;
    margin: 0;
    margin-left:6.1%;
    margin-right: 4%;
}

.Exp-Expl {
    font-family:muli;
    color:#2E8793;
    font-size:2.7vw;
    margin: 0;
    margin-left:6.1%;
    margin-right: 4%;
    margin-top: 3%;
}

.Contact {
    background-color:#000000;
    height:25vw;
}

.Color-Box-Con {
    background-color:#FFFFFF;
    width:70%;
    height:6%;
    float:right;
}

.Con-Title {
    font-family:muli;
    color:#FFFFFF;
    font-size:4vw;
    margin: 0;
    font-weight: bold;
    margin-left:6%;
}

.Contact-Left {
    float:left;
    margin-top:2%;
    margin-left:8%;
    margin-right:18%;
}

.Contact-Right {
    float:left;
    margin-top:2%;
    margin-left:5%;
    margin-right:10%;
}

.Con-Value {
    margin: 0;
    font-size:2.5vw;
    margin-top: 10%;
}

.Con-Value a {
    font-family:muli;
    color:#FFFFFF;
    text-decoration: none;
}

.material-icons.md-2 { 
    font-size:2.5vw;
}

/*Faq*/
.Faq-Title {
    display: block;
    position:relative;
    height: 8vw;
    width: 60vw;
    margin-top: -4%;
    margin-left: 20%;
    background-color: #2E8793;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: #FFFFFF;
    box-shadow: 0vw 1vw #C0C0C0;
    z-index: 999;
}

.Title-Text {
    font-family: muli;
    font-size: 3vw;
    position: relative;
    margin-top: 4.5%;
    transform: translateY(-50%);
    display:block;
}

.Faq-Content {
    background-color:white;
    height:110vw;
    text-align:center;
}

.FAQS {
    height: 100%;
    padding-top: 5%;
}

.FAQ {
    height: 15%;
    margin-top: 6%;
}

.Q-Box {
    display:inline-block;
    width: 10vw;
    margin-left: 6%;
    margin-right: 2%;
}

.Q-Box-2 {
    display:block;
    height: 5vw;
    width: 5vw;
    overflow: hidden;
    text-align: center;
    margin-left: 25%;
    background-color: #2E8793;
    border-style: solid;
    border-width: 0.6vw;
    border-color: #FFFFFF;
    box-shadow: 0vw 1vw 1vw #1e5961;
}

.Q {
    display:block;
    font-family: muli;
    font-size: 2vw;
    padding-top: 4%;
}

.Question {
    display: inline-block;
    font-family: muli;
    font-size: 2vw;
    padding-top: 1%;
}

.A-Box {
    display: inline-block;
    width: 10%;
    margin-left: 6%;
    margin-top: 3%;
    margin-right: 2%;
}

.A {
    display:block;
    font-family: muli;
    font-size: 2vw;
    padding-top: 4%;
    color: #2E8793;
}

.Answer {
    display: inline-block;
    font-family: muli;
    font-size: 2vw;
    padding-top: 1%;
    margin-top: 2%;
}

/*Register*/

.Reg-Title-Box {
    display: block;
    position:relative;
    height: 8vw;
    width: 60vw;
    margin-top: -4%;
    margin-left: 20%;
    background-color: #B37560;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: #FFFFFF;
    box-shadow: 0vw 1vw #C0C0C0;
    z-index: 999;
}

.Reg-Content {
    background-color:white;
    height:90vw;
}

.Reg-Title {
    height: 7%;
    margin-top: 4%;
    text-align: center;
}

.Reg-Title-Text {
    font-family: muli;
    font-size: 3vw;
    padding-top: 2%;
    display:inline-block;
    color: #BC4838;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Keys {
    height: 100%;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
}

.form-group {
    font-family: muli;
    font-size: 2vw;
    margin-top: 3%;
    margin-bottom:  2%;
}

.form-control {
    font-size: 1.5vw;
    height: 4vw;
    padding: 1%;
}

.btn-danger {
    margin-top: 3%;
}

.btn-lg {
    font-size: 1.5vw;
    padding: 1%;
}

.btn-danger a {
    font-family: muli;
    color: white;
    text-decoration: none;
}

/*Form*/
.Sch-Title-Box {
    display: block;
    position:relative;
    height: 8vw;
    width: 60vw;
    margin-top: -4%;
    margin-left: 20%;
    background-color: #3CB371;
    text-align: center;
    border-style: solid;
    border-width: 1vw;
    border-color: #FFFFFF;
    box-shadow: 0vw 1vw #C0C0C0;
    z-index: 999;
}

.Sch-Title-Text {
    font-family: "Shadows Into Light";
    font-size: 4vw;
    position: relative;
    margin-top: 4.5%;
    transform: translateY(-50%);
    display:block;
}

.Sch-buttons {
    width: 100%;
    margin-top: 2%;
    height: 5vw;
    padding-left: 5%;
}

.btn-success  {
    background-color: #3CB371;
    border-radius: 10%;
    margin-top: 2%;
}

.btn-success a {
    font-family: muli;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1%;
    font-size: 1.3vw;
}

#success2 {
    float: left;
}

#danger2 {
    margin: 0;
    border-radius: 10%;
    margin-right: 5.5%;
    margin-top: 2%;
    float: right;
}

#danger2 a {
    font-size: 1.3vw;
}

.table-container {
    padding: 5%;
    padding-top: 3%;
}

.table-responsive-sm {
    width: 100%;
    background-color:white;
    margin-bottom: 4%;
    font-size: 1vw;
    font-family: muli;
    font-size: 1.5vw;
}

.table th {
    padding: 1vw!important;
}

.table td {
    padding: 1vw!important;
}

.table {
    text-align: center;
}

.No-Sch {
    height: 15vw;
    padding: 3%;
    text-align: center;
}

.No-Sch p {
    margin: 0;
    padding: 0;
    font-size: 3vw;
    font-family: muli;
    font-weight: bold;
}

/*Add Schedule*/
.Sch-Title-Box2 {
    display: block;
    height: 10vw;
    width: 100%;
    margin-top: 8%;
}

.Sch-Title-Text2 {
    display:inline-block;
    font-family: "Marck Script";
    height: 10vw;
    margin: 2%;
    margin-left: 5%;
    padding: 1%;
    font-size: 7vw;
    font-weight: bold;
}

.Form {
    float: left;
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 2%;
}

#form p {
    margin-bottom: 3%;
}

.errorlist {
    background-color: white;
    font-family: muli;
    font-size: 2vw;
    color: red;
}

.clipart {
    text-align: center;
    float: right;
    width: 50%;
    height: 80vw;
    padding: 2%;
}

.calendar {
    width: 70%;
    height: 80%;
    margin: 0;
    margin-top: 2%;
    margin-left: 15%;
}