{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="Cover">
		<div class="Photo">
			<img src="https://www.anibox.org/_nw/69/02349432.jpg" alt="cover" class="Home_Cover" id="top">
		</div>
		<div class="Reg-Title-Box">
			<b class="Title-Text">Register Account</b>
		</div>
	</div>
	<div class="Reg-Content">
		<div class="Reg-Title">
			<b class="Reg-Title-Text">Register For Free Account!</b>
		</div>
		<div class="Keys">
			<form action="#">
				<div class="form-group">
			    	<label for="name">Name :</label>
			    	<input type="text" class="form-control" id="name">
			  	</div>
			  	<div class="form-group">
			    	<label for="birth">Date of Birth :</label>
			    	<input type="date" class="form-control" id="birth">
			  	</div>
			  	<div class="form-group">
			    	<label for="email">Email address:</label>
			    	<input type="email" class="form-control" id="email">
			  	</div>
			  	<div class="form-group">
			    	<label for="username">User Name:</label>
			    	<input type="text" class="form-control" id="username">
			  	</div>
				<div class="form-group">
			    	<label for="password">Password:</label>
			    	<input type="password" class="form-control" id="password">
			  	</div>
			  	<div class="form-group">
			    	<label for="passwordC">Confirm Password :</label>
			    	<input type="password" class="form-control" id="password">
			  	</div>
			  	<button type="button" class="btn btn-danger btn-lg"><a href="#">Register</a></button>
			</form>
		</div>
	</div>
{% endblock content %}
