<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<title>Julia Ningrum</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href='https://fonts.googleapis.com/css?family=Marck Script' rel='stylesheet'>
	    <link href='https://fonts.googleapis.com/css?family=Shadows Into Light' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="{% static "css/Style.css" %}">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
	 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
	    		<ul class="navbar-nav">
		    		<li class="nav-item dropdown">
	      				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Profile</a>
	      				<div class="dropdown-menu">
	      					<a class="dropdown-item" href="\..\Main#pro">Top Profile</a>
					        <a class="dropdown-item" href="\..\Main#edu">Education</a>
					        <a class="dropdown-item" href="\..\Main#int">Interests</a>
					        <a class="dropdown-item" href="\..\Main#ski">Skills</a>
					        <a class="dropdown-item" href="\..\Main#ach">Achievements</a>
					        <a class="dropdown-item" href="\..\Main#exp">Experiences</a>
					        <a class="dropdown-item" href="\..\Main#con">Contact</a>
	      				</div>
	    			</li>
		    		<li class="nav-item">
		      			<a class="nav-link" href="\..\Faq">FAQ</a>
		    		</li>
		    		<li class="nav-item">
		      			<a class="nav-link" href="\..\Schedule">Schedule</a>
		    		</li>
		    	</ul>
		    	<button type="button" class="btn btn-info btn-lg ml-auto"><a href="\..\Register">Register</a></button>
	  		</div>
		</nav>
		{% block content %}
		{% endblock content %}
	</body>
</html>
