{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="Profile">
		<div class="Photo">
			<img src="http://medchess.org/wp-content/uploads/2018/07/anime-background-wallpaper-hd-wallpaper.jpg" 
				alt="cover"	class="Home_Cover" id="pro">
			<img src="{% static "img/julia.jpg" %}" alt="photo" class="Profile_Photo">
		</div>
	</div>
	<div class="Profile2">
		<div class="Biodata">
			<div class="Biodata_Kiri">
				<div class="Name">
					<p class="Profile_Key">Name</p>
					<p class="Profile_Value">Julia Ningrum</p>
				</div>
				<div class="Address">
					<p class="Profile_Key">Address</p>
					<p class="Profile_Value">Jatinegara, Jakarta-Timur</p>
				</div>
			</div>
			<div class="Biodata_Kanan">
				<div class="Age">
					<p class="Profile_Key">Age</p>
					<p class="Profile_Value">18 Years Old</p>
				</div>
				<div class="E-mail">
					<p class="Profile_Key">E-mail</p>
					<p class="Profile_Value">Julia.ningrum@ui.ac.id</p>
				</div>
			</div>
		</div>
		<div class="Biodata2">
			<p class="Biodata2_Value">
				<i class="material-icons md-3">cake</i> Jakarta, July 27th 2000
			</p>
			<p class="Biodata2_Value">
				<i class="material-icons md-3">card_travel</i> College Student
			</p>
			<p class="Biodata2_Value">
				<i class="material-icons md-3" id="edu">chat</i> I Can Do It!
			</p>
		</div>
	</div>
	<div class="Education">
		<div class="Color-Box-Edu"></div>
		<p class="Edu-Title">Educational Background</p>
		<p class="Edu-Value">
			<i class="material-icons md-5">album</i> SDN Rawabunga 01 Pagi
		</p>
		<p class="Edu-Value">
			<i class="material-icons md-5">album</i> SMPN 36 Jakarta
		</p>
		<p class="Edu-Value">
			<i class="material-icons md-5">album</i> SMAN 54 Jakarta
		</p>
		<p class="Edu-Value">
			<i class="material-icons md-5" id="int">album</i> University of Indonesia
		</p>
	</div>
	<div class="Interests">
		<div class="Color-Box-Int"></div>
		<p class="Int-Title">Interests</p>
		<div class="Int-Row">
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://png.icons8.com/metro/1600/music.png" alt="music" class="Int-Icon-Image">
				</div>
				<p class="Int-Value">Music</p>
			</div>
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://cdn3.iconfinder.com/data/icons/black-easy/512/535112-game_512x512.png" alt="game" class="Int-Icon-Image">
				</div>
				<p class="Int-Value">Game</p>
			</div>
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://cdn3.iconfinder.com/data/icons/glypho-design/64/paint-brush-colors-artist-512.png" alt="art" class="Int-Icon-Image">
				</div>
				<p class="Int-Value">Art</p>
			</div>
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://educationatw.com/wp-content/uploads/2016/06/Languages-icon.png" alt="language" class="Int-Icon-Image">
				</div>
				<p class="Int-Value">Language</p>
			</div>
		</div>
		<div class="Int-Row">
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/62495-200.png" alt="coding" class="Int-Icon-Image">
				</div>
				<p class="Int-Value">Coding</p>
			</div>
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://cdn1.iconfinder.com/data/icons/nature-22/100/icon_leaf-leaves-double-01-512.png" alt="nature" class="Int-Icon-Image">
				</div>
				<p class="Int-Value">Nature</p>
			</div>
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://static.thenounproject.com/png/7433-200.png" alt="comic" class="Int-Icon-Image">
				</div>
				<p class="Int-Value">Comic</p>
			</div>
			<div class="Interest">
				<div class="Int-Icon">
					<img src="https://static.thenounproject.com/png/21701-200.png" alt="design" class="Int-Icon-Image">
				</div>
				<p class="Int-Value" id="ski">Design</p>
			</div>
		</div>
	</div>
	<div class="Skills">
		<div class="Color-Box-Ski"></div>
		<p class="Ski-Title">Skills</p>
		<div class="row">
			<p class="Ski-Value">Music</p>
			<div class="progress">
				<div class="progress-bar bg-info" style="width:80%;">80%</div>
			</div>
		</div>
		<div class="row">
			<p class="Ski-Value">Java</p>
			<div class="progress">
				<div class="progress-bar bg-info" style="width:50%;">50%</div>
			</div>
		</div>
		<div class="row">
			<p class="Ski-Value">Leadership</p>
			<div class="progress">
				<div class="progress-bar bg-info" style="width:80%;"">80%</div>
			</div>
		</div>
		<div class="row">
			<p class="Ski-Value">Multitasking</p>
			<div class="progress">
				<div class="progress-bar bg-info" style="width:90%;">90%</div>
			</div>
		</div>
		<div class="row" id="ach">
			<p class="Ski-Value">Reliability</p>
			<div class="progress">
				<div class="progress-bar bg-info" style="width:95%;" id="ach">95%</div>
			</div>
		</div>
	</div>
	<div class="Achievements">
		<div class="Top">
			<div class="Color-Box-Ach-L"></div>
			<p class="Ach-Title">Achievements</p>
			<div class="Color-Box-Ach-R"></div>
		</div>
		<div class="Ach-Boxes">
			<div class="Ach-Box">
				<div class="Box" id="Box-R">
					<img src="https://static.thenounproject.com/png/18791-200.png" alt="rubic" class="Ach-Icon">
				</div>
				<p class="Ach-Explanation" id="Expl-R"> 1st Place Rubik's Cube Competition Jambore 2012	</p>
			</div>
			<div class="Ach-Box">
				<div class="Box" id="Box-L">
					<img src="https://image.freepik.com/free-icon/kanji-character_318-37273.jpg" alt="jlpt" class="Ach-Icon">
				</div>
				<p class="Ach-Explanation" id="Expl-L"> Japanese-Language Proviciency Test N5 </p>
			</div>
			<div class="Ach-Box">
				<div class="Box" id="Box-R">
					<img src="https://png.icons8.com/money-bag/win8/1600" alt="treasurer" class="Ach-Icon">
				</div>
				<p class="Ach-Explanation" id="Expl-R"> Best SMAN 54 Organisation Treasurer 2015/2016 </p>
			</div>
			<div class="Ach-Box">
				<div class="Box" id="Box-L">
					<img src="https://static.thenounproject.com/png/14215-200.png" alt="finalist" class="Ach-Icon">
				</div>
				<p class="Ach-Explanation" id="Expl-L"> Finalist Primagama Smart Competition 2016 </p>
			</div>
			<div class="Ach-Box">
				<div class="Box" id="Box-R">
					<img src="https://s3.amazonaws.com/tinycards/image/130624b7f2694d8050c138bf584ec331" alt="un" class="Ach-Icon" >
				</div>
				<p class="Ach-Explanation" id="Expl-R"> 1st Place Rodoku Competition Bulan Bahasa SMAN 54 </p>
			</div>
			<p id="exp"></p>
		</div>
	</div>
	<div class="Experiences">
		<div class="Color-Box-Exp"></div>
		<p class="Exp-Title">Experiences</p>
		<div class="Exp_Text">
			<div class="Experience">
				<p class="Exp-Value">1. General Treasurer of Language Extracurricular (XBASS) SMAN 54</p>
				<p class="Exp-Expl">(2015-2016) Responsible for organisation's general financial oversight, financial planning and budgeting, financial reporting, and record keeping. </p>
			</div>
			<div class="Experience">
				<p class="Exp-Value">2. Latihan Dasar Kepemimpinan dan Pelantikan Anggota Baru XBASS Project Officer</p>
				<p class="Exp-Expl">(2016) Provides administrative and technical skills to support the project, and working with other team members to achieve project success.</p>
			</div>
			<div class="Experience">
				<p class="Exp-Value">3. Study Tour Bahasa Asing Secretary</p>
				<p class="Exp-Expl">(2016) Maintaning project effective records and administration to support and achieve project success </p>
			</div>
		</div>
	</div>
	<div class="Contact" id="con">
		<div class="Color-Box-Con"></div>
		<p class="Con-Title">Contact</p>
		<div class="Contacts">
			<div class="Contact-Left">
				<p class="Con-Value"><a href="https://wa.me/087885926091">
					<i class="fa fa-whatsapp"></i> 087885926091 </a>
				</p>
				<p class="Con-Value"><a href="https://www.facebook.com/julia.winx">
					<i class="fa fa-facebook-square"></i> Juliani Scarlet </a>
				</p>
			</div>
			<div class="Contact-Right">
				<p class="Con-Value"><a href="https://www.instagram.com/julianiscrlt/">
					<i class="fa fa-instagram"></i> julianiscrlt </a>
				</p>
				<p class="Con-Value"><a href="https://gitlab.com/Juliani27">
					<i class="fa fa-gitlab"></i> Juliani27 </a>
				</p>
			</div>
		</div>
	</div>
{% endblock content %}